[Desktop Entry]
Type=Application
Name=Beacn Utility
Comment=A Tool for Configuring Beacn Devices
Exec="/usr/bin/beacn-utility" --startup
Terminal=false
