#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#24273a",
    text_color: "#cad3f5",
    header_background_color: "#1e2030",
    modal_background_color: "#1e2030",
    modal_backdrop: false,
    preview_label_style: (fg: "#f0c6c6"),
    preview_metadata_group_style: (fg: "#f0c6c6", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#24273a", bg: "#f0c6c6", modifiers: "Bold"),
        inactive_style: (fg: "#a5adcb"),
    ),
    highlighted_item_style: (fg: "#f0c6c6", modifiers: "Bold"),
    current_item_style: (fg: "#24273a", bg: "#f0c6c6", modifiers: "Bold"),
    borders_style: (fg: "#363a4f"),
    highlight_border_style: (fg: "#f0c6c6"),
    symbols: (
        song: "󰎆",
        dir: "",
        playlist: "󰲸",
        marker: "",
        ellipsis: "...",
        song_style: (fg: "#f0c6c6"),
        dir_style: (fg: "#8aadf4"),
        playlist_style: (fg: "#a6da95"),
    ),
    level_styles: (
        info: (fg: "#8aadf4", bg: "#24273a"),
        warn: (fg: "#eed49f", bg: "#24273a"),
        error: (fg: "#ed8796", bg: "#24273a"),
        debug: (fg: "#a6da95", bg: "#24273a"),
        trace: (fg: "#c6a0f6", bg: "#24273a"),
    ),
    progress_bar: (
        symbols: ["", "━", "╸", "─", ""],
        track_style: (fg: "#363a4f"),
        elapsed_style: (fg: "#f0c6c6"),
        thumb_style: (fg: "#f0c6c6", bg: "#363a4f"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#363a4f"),
        ends_style: (fg: "#a5adcb"),
        thumb_style: (fg: "#f0c6c6"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#a5adcb"),
                default: (kind: Text("Unknown Album"), style: (fg: "#a5adcb"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#f0c6c6", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#f0c6c6", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#f0c6c6", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#cad3f5", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#a5adcb", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#f0c6c6")),
                    (kind: Property(Widget(Volume)), style: (fg: "#f0c6c6"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#a5adcb")),
                    (kind: Text(" / "), style: (fg: "#363a4f")),
                    (kind: Property(Status(Duration)), style: (fg: "#a5adcb")),
                    (kind: Text(" ("), style: (fg: "#363a4f")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#a5adcb")),
                    (kind: Text(" kbps)"), style: (fg: "#363a4f"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#f0c6c6", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#f0c6c6", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "#363a4f")),
                    (kind: Property(Song(Album)), style: (fg: "#a5adcb"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#a5adcb"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#f0c6c6", modifiers: "Bold"),
                            separator_style: (fg: "#363a4f")))
                        ),
                        style: (fg: "#494d64")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Property(Title),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
