#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#1C211E",
    text_color: "#EDEAE0",
    header_background_color: "#424844",
    modal_background_color: "#424844",
    modal_backdrop: false,
    preview_label_style: (fg: "#7098A5"),
    preview_metadata_group_style: (fg: "#7098A5", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#1C211E", bg: "#7098A5", modifiers: "Bold"),
        inactive_style: (fg: "#9B988E"),
    ),
    highlighted_item_style: (fg: "#7098A5", modifiers: "Bold"),
    current_item_style: (fg: "#1C211E", bg: "#7098A5", modifiers: "Bold"),
    borders_style: (fg: "#9B988E"),
    highlight_border_style: (fg: "#7098A5"),
    symbols: (
        song: "󰎆",
        dir: "",
        playlist: "󰲸",
        marker: "",
        ellipsis: "...",
        song_style: (fg: "#7098A5"),
        dir_style: (fg: "#7098A5"),
        playlist_style: (fg: "#6A654C"),
    ),
    level_styles: (
        info: (fg: "#7098A5", bg: "#1C211E"),
        warn: (fg: "#B75844", bg: "#1C211E"),
        error: (fg: "#275577", bg: "#1C211E"),
        debug: (fg: "#6A654C", bg: "#1C211E"),
        trace: (fg: "#FF8C01", bg: "#1C211E"),
    ),
    progress_bar: (
        symbols: ["", "━", "╸", "─", ""],
        track_style: (fg: "#9B988E"),
        elapsed_style: (fg: "#7098A5"),
        thumb_style: (fg: "#7098A5", bg: "#9B988E"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#9B988E"),
        ends_style: (fg: "#9B988E"),
        thumb_style: (fg: "#7098A5"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#9B988E"),
                default: (kind: Text("Unknown Album"), style: (fg: "#9B988E"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#7098A5", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#7098A5", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#7098A5", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#EDEAE0", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#9B988E", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#7098A5")),
                    (kind: Property(Widget(Volume)), style: (fg: "#7098A5"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#9B988E")),
                    (kind: Text(" / "), style: (fg: "#9B988E")),
                    (kind: Property(Status(Duration)), style: (fg: "#9B988E")),
                    (kind: Text(" ("), style: (fg: "#9B988E")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#9B988E")),
                    (kind: Text(" kbps)"), style: (fg: "#9B988E"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#7098A5", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#7098A5", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "#9B988E")),
                    (kind: Property(Song(Album)), style: (fg: "#9B988E"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#9B988E"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#7098A5", modifiers: "Bold"),
                            separator_style: (fg: "#9B988E")))
                        ),
                        style: (fg: "#9B988E")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Property(Title),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
